@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: hsl(0, 3%, 88%);
}

body {
    font-family: "Fira Sans", sans-serif;
    background-color: hsl(219, 30%, 9%);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: hsl(189, 27%, 15%) 0px 2px 8px 0px !important;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: hsl(218, 33%, 9%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

nav ul li a{
    display: block;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
}


nav ul li a:hover{
    color: rgb(163, 67, 67);
    border-bottom: 2px solid rgb(65, 18, 18);
}

nav a img {
    width: 4rem;
}

/* GLOBAL STYLES */
.main-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}



/* INTRO SECTIONS STYLES */
.intro-main-img {
    width: 450px;
    margin-top: 10rem;
}

.intro-main-img  img{
    width: 100%;
    display: block;
}

.intro-content {
    width: 40%;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content h5{
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.intro-content p {
    font-weight: 200;
    text-align: center;
}

.intro-content button {
    background-color: hsl(189, 46%, 25%);
    border: none;
    border-radius: 50px;
    font-family: inherit;
    padding: 1rem;
    width: 180px;
    cursor: pointer;
    transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
}

.intro-content button:hover {
    background-color: transparent;
    color: hsl(189, 46%, 25%);
    border: 2px solid hsl(189, 46%, 25%);
}

/* <!-- How we work --> */
.abt {
    display: flex;
    padding: 0 2rem;
    width: 75%;
    margin: 2px auto;
}
.abt-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    flex-wrap: wrap;
    
    
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    width: 320px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 2rem 1rem;
    background-color: #1b2330;
    border-radius: 0.2rem;
}

.content img {
    display: block;
    margin-bottom: 0.8rem;
    width: 40px;
}

.content h5 {
   font-size: 1.01rem;
   margin-bottom: 0.8rem;
}

.content p {
   font-size: 0.8rem;
   font-weight: 300;
}


/* MT section  */
.mt-container {
    margin: 3rem auto;
    width: 70%;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.mot {
    width: 600px;
    overflow: hidden;
    margin: 2rem 0;
}
.mot img {
    display: block;
    width: 100%;
}

.mot-content h4{
    margin-bottom: 0.7rem;
}
.mot-content h4, p{
    letter-spacing: 1px;
}

.mot-content  p{
    font-weight: 300;
    font-size: 0.9rem;
}

.link {
    color: #4dadaa;
   border-bottom: 1px solid #4dadaa;
   transition: font-size 0.3s ease;
   font-size: 0.9rem;
}

.icon {
    font-size: 0.7rem;
    color: #4dadaa;
    transition: font-size 0.3s ease;
}

.icon:hover,
.link:hover {
    font-size: 0.8rem;
}

/* Testimonial */
.testimonial {
    width: 88%;
    margin: 4rem auto;
    display: flex;
    gap: 3rem;
}
.tm-content {
    letter-spacing: 1px;
    font-weight: 300;
    width: 340px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 1.2rem;
    background-color: #1b2330;
    border-radius: 0.2rem;
    margin: 2rem 0;
}

.tm-content p {
    font-size: 0.8rem;
}

.profile h5, p{
    font-size: 0.6rem;
}

.profile p{
    font-size: 0.6rem;
    margin-top: 0.2rem;
}

.sub-container {
    margin-top: 1.7rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.sub-container img {
    display: block;
    width: 30px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 50%;
}

